@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  position: relative !important;
  margin-top: 10px; 
}

.swiper-button-next,
.swiper-button-prev {
  top: auto !important;      
  bottom: 0 !important;       
  transform: translateY(50%); 
  width: 24px;                
  height: 24px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
}